#WordPress Core
/wp-admin/
/wp-includes/
/wp-*.php
/xmlrpc.php
/index.php
/license.txt
/readme.html
/wp-content/index.php
.htaccess


#Languages
/wp-content/languages/

#Config Files
/wp-config.php
.env

#Uploads
/wp-content/uploads

#Cache / Logs
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backups/
/wp-content/debug.log

#Node
/node_modules
node_modules/
dist/
build/
#OS Junk
.DS_Store
Thumbs.db

#Composer
/vendor/

#All plugins except custom
/wp-content/plugins/*
/wp-content/plugins/bondit-site-blocks/

#All themes except custom themes
#Also ignore theme level node_modules
/wp-content/themes/*
/wp-content/themes/bondecom/
!/wp-content/themes/bonditclassicEcom/
!/wp-content/themes/bonditclassicEcom/**
/wp-content/themes/bonditclassicEcom/node_modules/